<nav class="navbar bg-light fixed-top">
  <div class="container">
     <a class="navbar-brand" href="/">
      <img src="/images/logo.jpg" class="text-center logo" alt="logo" ></a>
         <a class="nav-link" href="/" >Accueil</a>
         <a class="nav-link" href="/gallerie">Galerie</a>
         <a class="nav-link" href="/tarifPrestation">Tarifs<a>
     </div>
</nav>  
     
    
  