<nav id="navbar" class="navbar active navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="nav-link" href="/" >Accueil</a>
          <a class="nav-link" href="/photo/gallerie">Galerie</a>
              <a class="nav-link" href="/tarifPrestation">Tarifs et prestations<a>
            </div>
      </nav>
