<div id="bloc_page">
  <header>
    <div id="titre_principal">
      <div id="logo">
         <a class="navbar-brand" href="/">
      <img src="/images/logo.jpg" class="centred logo" alt="logo" ></a>
      </div>
    </div>
    <nav>
     <a class="nav-link" href="/" >Accueil</a>
         <a class="nav-link" href="/photo/gallerie">Galerie</a>
         <a class="nav-link" href="/blog/post-tarif">Tarifs<a>
     
    </nav>
 </div>