---
layout: layout.njk
---

<meta name="description" content="Galerie des photographies de Chrales Cantin réalise pour vous des photographies de mariage, Grossesse, Bébé, Famille, Baptême, Couple">
   
    <title>Charles Cantin - Photographe - Galerie </title>
 </head>
 <body>

<h1 id="titreG" class="text-center">{{ title }}</h1><br/>


{{ content | safe }}




