@media screen and (max-width: 419px)  {
    #titre{
        font-size: 30px;
    }
     /* Tarif */
     #tarifI{
        width: 90%;
        height: 100%;
         }
         /* footer */
   .footer{
        margin-top: 40px;
    }
}
@media screen and (max-width: 589px)  {
    img{
     width: 100%;
    }
    #photo1{
        height: 100%;
        
        margin-bottom: -60px;
    }
    h1[id=titreP]{
        font-size: 40px;
    }
   .footer{
    margin-top: 200px;
 
   }
}
@media screen and (max-width: 789px)  {
    img{
     width: 100%;
    }
    #photo1{
    margin-bottom: -80px;
    }
    h1[id=titreP]{
        font-size: 60px;
    }
    .footer{
        margin-top: 200px;
    }
   
}
@media screen and (max-width: 989px)  {
    img{
     width: 90%;
    }
    #photo1{
        height: 80%;
        margin-top: -140px;
        margin-bottom: -120px;
    }
    h1[id=titreP]{
        font-size: 70px;
    }
    .footer{
        margin-top: 200px;
    }
}

@media screen and (max-width: 1499px)  {
    /* Accueil */
    .titreA{
        margin-top: 180px;
    }
    /* Tarif */
    #tarifI{
        width: 90%;
        height: 80%;
         }
   
    /* Formulaire */
    .titre{
        font-size: 30px;
        margin: 20px;
    }
    form{
        padding-top: 30px;
        margin-top: 10px;
    }
    label{
        font-size: 20px;
    }
    input{
        padding: 10px;
    }
    textarea{
        padding: 45px;
    }
    .footer{
        margin-top: 230px;
    }
}

img{
    width: 100%;
    height: 100%;
    background-size: cover;
    } 

img[class=galerie]{
    width: 400px;
}
#imageFront{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: black;
  
}

body{
    text-align: center;
    color: rgb(18, 17, 17);
    background-color: rgb(206, 186, 186);
    }

a{
    display:inline-block;
    color: rgb(18, 17, 17);
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    }

a.nav-link{
    margin: 10px;
    }

svg{
    color: rgb(18, 17, 17);
    position: static;
    margin-top: 30px;
    margin: 10px;
}

nav{
    font-size: 19px;
    height: 60px;
    text-align: center;
    line-height: 20px;
    }

    #contact{
        font-size: 19px;
    }
    
/*Tarif et prestation*/
 .tarif{
    margin-bottom: 26px;
 }

    

  

  

