---
layout: layout
permalink: 404.html
---

<main class="error">
  <section>
    <div class="container">
      <h1>Nous n'arrivons pas à trouver la page que vous recherchez.</h1>
      <p>
        <a href="/">Cliquez ici</a> pour revenir en sécurité à la page d'accueil.
      </p>
    </div>
  </section>
</main>
