---
layout: layout.njk
---
<style>
body {
  background-image: url('/images/mariage1900.jpg');
  postition: fixed;
}
</style>
    <main id="imageFixed">
        <div class="text-center">
              <h1 class="titreA">Charles Cantin<br />Photographe</h1>
            </div>
        
    </main>

   