---
layout: layout.njk
---



 <body id="imageFront">
{% include 'src/blog/post-accueil.md' ignore missing %}
 <main>
        <div id="titreA" class="container text-center">
        <div class="row-10"></div>
        <div class="item">
              <h1 >Charles Cantin<br />Photographe</h1>
</div>
            </div>
        
    </main>

   
