---
layout: layout.njk
---

      <div class="container" >
      <div class="row">
         <div class="col">
         <main>
   <h1 id="titre">Tarifs et prestations</h1>

   <img class="img-fluid tarif" id="tarifI" src="/images/Tableau tarif.jpg" width="100%" height="100%" alt="Tableau Tarifs et prestation">
  
          </main>
         </div>
       </div>
      </div>


